/* styles.css */
.introduction-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.introduction-item {
    width: 30%;
    margin: 10px;
    text-align: center;
}

.introduction-item .icon{
    width: 20px;
    height: 20px;
}

.icon {
    max-width: 100%;
    width: '50px';
    height: '50px';
}

.label {
    font-weight: bold;
}

.value {
    margin-top: 5px;
}
.pageTitle {
    text-align: center;
}